.tag
  &.is-secondary
    background-color: $secondary
    color: #fff
.button
  &.is-secondary
    background-color: $secondary
    color: #fff
    border: 0

html
  background-color: $white

.profilePic
  background-color: #000
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  color: #fff
  font-size: 1.5rem
  font-weight: 200

.login
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

.hidden
  display: none

.sidebar
  background-color: $dark

.mainbar
  text-transform: uppercase
  font-weight: 700
  font-size: 11.5px
  letter-spacing: 0.5px
  border-bottom: 1px solid $white-ter
  & .navbar-menu
    & .navbar-item
      color: $grey
      &.is-active,
      &:hover
        color: $primary

@media (max-width: 1158px)
  .subbar
    background-color: $white !important
    min-height: 0.8rem !important
    height: 2.3rem
    border-bottom: 1px solid $white-ter
    & .navbar-menu
      box-shadow: none
      margin: 0
      padding: 0
      height: calc(2.3rem - 2px)
      min-height: 1.5rem
      & .navbar-start
        & .navbar-item
          display: inline-table
          margin: 0
          padding: 0.5rem 0.5rem
          font-size: 0.8rem
          line-height: 1.2rem
          border-bottom: 0
          &.is-active
            color: $grey-darker
            background-color: $white !important
            border-bottom: 2px solid $primary
            font-weight: bold
          &:hover
            color: $grey-darker
            background-color: $white !important
            border-bottom: 2px solid $primary
@media (min-width: 1158px)
  .subbar
    background-color: $white !important
    min-height: 0.8rem !important
    height: 2.3rem
    border-bottom: 1px solid $white-ter
    & .navbar-brand
      height: 2.3rem
      min-height: 1.5rem
      & .navbar-item
        padding: 1.05rem 0.5rem
        font-size: 0.8rem
        line-height: 1.2rem
        border-bottom: 2px solid #fff
    & .navbar-menu
      height: calc(2.3rem - 2px)
      min-height: 1.5rem
      & .navbar-start
        & .navbar-item
          padding: 1.05rem 0.5rem
          font-size: 0.8rem
          line-height: 1.2rem
          border-bottom: 2px solid $white
          &.is-active
            background-color: $white !important
            border-bottom: 2px solid $primary
            font-weight: bold
          &:hover
            background-color: $white !important
            border-bottom: 2px solid $primary

.card-footer-item
  &.is-primary
    background-color: $primary
    color: $white
  &.is-secondary
    background-color: $secondary
    color: $white

.footer
  padding: 3rem 1.5rem

.profilePic.gradient1
  background: #1488cc
  background: -webkit-linear-gradient(to bottom, #1488cc, #2b32b2)
  background: linear-gradient(to bottom, #1488cc, #2b32b2)

.profilePic.gradient2
  background: #00467f
  background: -webkit-linear-gradient(to bottom, #00467f, #a5cc82)
  background: linear-gradient(to bottom, #00467f, #a5cc82)

.profilePic.gradient3
  background: #076585
  background: -webkit-linear-gradient(to bottom, #076585, #fff)
  background: linear-gradient(to bottom, #076585, #fff)

.profilePic.gradient4
  background: #bbd2c5
  background: -webkit-linear-gradient(to bottom, #bbd2c5, #536976)
  background: linear-gradient(to bottom, #bbd2c5, #536976)

.profilePic.gradient5
  background: #bdc3c7
  background: -webkit-linear-gradient(to bottom, #bdc3c7, #2c3e50)
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50)
